fish_variables
fishd.tmp.*
packer_compiled.lua
__pycache__/
vscode-cpptools/
.cache.json
btop.log
lazy-lock.json
.newsboat/cache.db
.newsboat/cache.db.lock
.newsboat/history.cmdline
.config/polybar/scripts/loadshedding.json
.config/lazygit/state.yml
.newsboat/queue
.config/lazygit/development.log
.trash/
.config/nvim/lazy-lock.json
.config/fish/functions/*
.config/fish/completions/*
