[submodule ".password-store"]
	path = .password-store
	url = https://github.com/AlexvZyl/.password-store
[submodule ".private"]
	path = .private
	url = https://github.com/AlexvZyl/.private
[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/AlexvZyl/nvim
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".modules/user.js"]
	path = .modules/user.js
	url = https://github.com/arkenfox/user.js/
[submodule ".config/yazi/plugins"]
	path = .config/yazi/plugins
	url = https://github.com/yazi-rs/plugins
