/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #1d2021FF;
    background-alt: #353535FF;
    foreground:     #e2cca9FF;
    border:         #7CA599FF;
    selected:       #f28534FF;
    active:         #8bba7fFF;
    urgent:         #f2594bFF;
}
