/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #242933FF;
    background-alt:     #191C24FF;
    /* background-alt: #2E3440FF; */
    foreground:     #E5E9F0FF;
    selected:       #EBCB8BFF;
    active:         #A3BE8CFF;
    urgent:         #BF616AFF;
    border:         #8FBCBB;
}
