[Desktop Entry]
Type=Application
Name=TSNTools
Exec=sh -c "cd /home/alex/TSN/Repos/docker && ./docker_image_runner.sh ./Dockerfiles/tsntools /bin/bash -c ./TSNTools"
Terminal=false
